/* Formatting metric cards */
[data-testid = metric-container]{
    box-shadow: 1px 1px 5px #535050;
    padding: 10px;
}
.plot_container>div{
    box-shadow: 1px 1px 5px #313030;
    padding: 10px
}

/* Make all text in sidebar filter to bold */
.stSlider > div > label {
    font-weight: bold;
}

/* Formatting header */
.header-title {
    font-size: 30px;
    font-weight: 800;
    color: #2E3A59;
}
